
{% extends "base.html" %}
{% block content %}
Buenas a quien lea esto:
<br>
<br>
<h2><br>Acerca de mi:</h2>
        <br>Soy un ingenierio mecatrónico trabajando en la parte de sistemas de un banco por lo cual esa es la tematica de mi proyecto.
        <br>Cuando me propuse volver a estudiar, queria ser un full stack, aprendí HTML, CSS (solo que no se nota en este proyecto jaja) y javascript, pero desde que empecé a aprender Python me enamoró el lenguaje y sus framework como Django, seguiré estudiando esto hasta encontrar un trabajo relacionado.

        <br>

<h2><br>Acerca de mi proyecto:</h2>
    <br>Mi proyecto trata de un blog/pagina web en donde puedes hacer movimientos bancarios, registrar tu cuenta de algun banco y claro realizar transferencias, prestamos etc. Por obvios motivos por falta mas cosas de seguridad pero la idea del blog es esa.



        {% endblock %}